source_topic_prefix = "gBridge/<user>/"
target_topic = "<user>/feeds/zap"
graphite_host = "localhost:2003"
sentry_host = "https://deadbeef@o12345.ingest.sentry.io/987654321"

[target]
host = "io.adafruit.com"
user = ""
password = ""

[source]
host = "mqtt.gbridge.io"
user = "gbridge-<user>"
password = ""

[[switches]]
name = "d2777"
on   = "FFFFFFFF0001"
off  = "FFFFFFFF0010"

[[switches]]
name = "d2778"
on   = "FFFFFF0F0001"
off  = "FFFFF0FF0010"