source_topic_prefix = "gBridge/<user>/"
target_topic = "<user>/feeds/zap"

[target]
host = "io.adafruit.com"
user = ""
password = ""

[source]
host = "mqtt.gbridge.io"
user = "gbridge-<user>"
password = ""

[switches]
d2777 = "FFFFFFFF00"
d2778 = "FFFFFFFF10"